# Archivos de compilación y temporales para Makefile
*.o
*.out
*.elf
*.hex
*.bin
*.map
*.lst

# Archivos creados por depuradores
*.d
*.s

# Archivos temporales del sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# Configuración de entornos de desarrollo
*.log
*.user

# Archivos para scripts de Shell
*.sh~
*.sh.swp

# Archivos generados por herramientas de ensamblador
*.asm~
*.lst~
*.cod
*.inc~